# Compiled source #
###################
*.dcu
*.obj
*.exe
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map
*.lib

# Generated source #
###################
*.hpp

# Backup files    #
###################
*.~*
*.bak
*.#00
*.pch
*.Patch
__history/
__recovery/

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc
*.rc
*.res
*.local

# Output Folders  #
###################
/Win32
/Win64
/OSX32

#    C++ Files    #
###################
*.prjmgc

Packages/Sydney/CBuilder/Win64/
Packages/Sydney/cpp/
*.o
*.a
*.d

# Dev-only scripts #
####################
build.bat
build_verbose.bat
build_cpp.bat
build_cpp_verbose.bat
build_cpp_delphi_only.bat
build_cpp_group.bat
build_cpp_win64_test.bat
build.ps1
check_env.bat
